### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.cpython-312.pyc
main2.py

# Distribution / packaging
.Python

# Django stuff:
/logs
*.log

# PyBuilder
.pybuilder/
target/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide